@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aboreto&family=Krona+One&family=Sedan+SC&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

.principal__cabecalho__buttons__elementUL {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: hidden;
}

.indicePresentation {
  width: calc(100% - 16%);
  padding: 8% 8%;
  box-sizing: border-box;
}

.moreAboutOurBrand__text {
  width: calc(100% - 12%);
  box-sizing: border-box;
}

.menu {
  width: 250px;
  max-width: 100%;
  overflow-y: auto;
}

@media only screen and (max-width: 900px) {
  .ourServices__services {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .ourServices__service {
    width: 90%;
    margin-bottom: 20px;
  }

  .moreAboutOurBrand__text {
    width: 90%;
  }

  .indicePresentation {
    width: 90%;
  }

  #menu-btn {
    margin-right: 15%;
  }
}