@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aboreto&family=Krona+One&family=Sedan+SC&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-primaria: #fff;
  --cor-secundaria: #f5f5f5;
  --cor-terciaria: #8dd9bf;
  --cor-quaternaria: #28211e;
  --cor-quinaria: #000;
  --cor-menu-aba: #333;
  --cor-menu: #b1b1b1;
  --font-nome: "Aboreto", system-ui;
  --font-primaria: "Abel", sans-serif;
  --font-secundaria: "Source Code Pro", monospace;

  --tamanho-normal: 1.4rem;
  --tamanho-nome: 2.38rem;
  --tamanho-width-header: 90vw;

  --weight-fino: 200;
  --weight-normal: 400;
  --weight-bold: 800;


}


.imagem__header {
  display: flex;
  background-image: url("/assets/batata.jpg");
  min-height: 730px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  user-select: none;
  /* para fazer com que o usuário não possa selecionar o texto*/
  background-size: cover;
  background-position: top;
}

.principal__cabecalho {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 100vw;
  padding: 2%;
}


.principal__cabecalho__buttons {
  font-family: var(--font-primaria);
  font-size: var(--tamanho-normal);
  display: flex;
}

.principal__cabecalho__buttons__elementUL {
  display: flex;
  gap: 1rem;
}

.principal__cabecalho__buttons__elementUL__buttonLI {
  list-style: none;
  text-decoration: none;
  align-items: center;
}

.softwareName a {
  font-weight: var(--weight-bold);
  font-size: var(--tamanho-nome);
  font-family: var(--font-nome);
}


.autentication,
a {
  text-decoration: none;
  align-items: center;
  color: var(--cor-quinaria);
  display: flex;
  gap: 0.5em;
  font-size: var(--tamanho-normal);
  font-family: var(--font-primaria);
}

.autentication {
  margin-left: 9%;
}

.fa-instagram {
  animation: changeBorderColor 2s linear infinite alternate;
}

@keyframes changeBorderColor {
  0% {
    color: #bc2a8d;
  }

  20% {
    color: #8a3ab9;
  }

  40% {
    color: #3b5998;
  }

  60% {
    color: #dd2a7b;
  }

  80% {
    color: #e4405f;
  }

  100% {
    color: #bc2a8d;
  }
}



.menu {
  width: 250px;
  height: 100vh;
  background-color: var(--cor-menu-aba);
  position: fixed;
  top: 0;
  z-index: 1000;
  left: -250px;
  height: 100vh;
  overflow-y: auto;
  transition: 0.3s;
}

.menu.menu-visible {
  left: 0;
}

.menu ul {
  padding: 0;
  list-style: none;
  margin-top: 5rem;
  display: flex;
  /* Adiciona display flex */
  flex-direction: column;
  /* Organiza os itens em uma coluna */
  align-items: center;
  /* Centraliza os itens na vertical */
}

.menu ul li {
  padding: 15px;
  text-align: center;
  color: var(--cor-primaria);
  font-size: var(--tamanho-normal);
  font-family: var(--font-secundaria);
  cursor: pointer;

}

.menuDeNav__element {
  text-decoration: none;
  color: var(--cor-menu);

}

#menu-btn {
  display: none;
  font-size: var(--tamanho-normal);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 1000;
  position: relative;
  width: 58px;
  margin-right: 15%;
}

.menu ul li {
  padding: 15px;
  text-align: center;
  color: var(--cor-primaria);
  cursor: pointer;
  position: relative;
}

.menuDeNav__element::before,
.menuDeNav__element::after {
  content: "";
}

.menu ul li::before,
.menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--cor-terciaria);
  /*Mudar aq para mudar a cor da linha que aparece no hover dos elementos do menu. */
  transition: all 0.3s;
}

.menu ul li::before {
  left: 50%;
  transform: translateX(-50%);
}

.menu ul li::after {
  right: 50%;
  transform: translateX(50%);
}

.menu ul li:hover::before,
.menu ul li:hover::after {
  width: 100%;
}